.container {
 width: auto;
 padding: 80px 4%;
 padding-bottom: 20px;
 margin: 0;
 background-color: #fff;
 overflow-x: hidden;
}

.container::-webkit-scrollbar {
  display: none;
}

.titulo {
  font-size: 20px;
  font-weight: 700;
  color: #444;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}

.acordeon {
  width: auto;
  height: auto;
  padding: 5px 10px;
  margin: 0;
  background-color: rgb(223, 223, 223);
  margin-bottom: 12px;
  border-radius: 4px;
}

.pregunta {
 width: 100%;
 color: #333;
 background-color: transparent;
 padding: 0;
 margin: 0;
 border: none;
 text-align: left;
 font-size: 18px;
 font-weight: 550;
}

.respuesta {
  width: auto;
  color: #222;
  background-color: transparent;
  padding: 0;
  padding-left: 10px;
  margin: 10px 0px;
  border: none;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}





  




@media (min-width: 580px) and (max-width: 780px) {
  .container {
   padding: 120px 4%;
   padding-bottom: 40px;
  }
  
  .titulo {
    font-size: 26px;
    margin-bottom: 25px;
  }
  
  .acordeon {
    padding: 10px 12px;
    margin-bottom: 12px;
  }
  
  .pregunta {
   color: #424242;
   font-size: 18px;
   font-weight: 600;
  }
  
  .respuesta {
    color: #222;
    padding-left: 15px;
    margin: 20px 0px;
    border: none;
    text-align: left;
    font-size: 18px;
    letter-spacing: .8px;
    font-weight: 700;
    line-height: 22px;
    color: #222;
  }
}










@media (min-width: 780px) and (max-width: 960px) {

  .container {
   padding: 120px 4%;
   padding-bottom: 40px;
  }
  
  .titulo {
    font-size: 28px;
    margin-bottom: 25px;
  }
  
  .acordeon {
    padding: 10px 12px;
    margin-bottom: 12px;
  }
  
  .pregunta {
   color: #424242;
   font-size: 22px;
   font-weight: 600;
  }
  
  .respuesta {
    color: #222;
    padding-left: 15px;
    margin: 20px 0px;
    border: none;
    text-align: left;
    font-size: 20px;
    letter-spacing: .8px;
    font-weight: 700;
    line-height: 22px;
    color: #222;
  }
}
