    .container {
        height: auto;
        padding: 100px 0px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        overflow: hidden;
        box-sizing: border-box;
        background-color: #333;
    }

    .cajaImg {
        width: auto;
        height: auto;
        margin: 0px 4%;
        margin-top: 40px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .cajaImg img {
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 6px;
        border: 1px solid #a5a5a5;
    }
    
    .imag {
        display: flex;
        justify-content: start;
        align-items: start;
        background-image: none;
        width: auto;
        padding: 0;
        margin: 0;
    }

    .tigre {
        width: 70%;
        object-fit: scale-down;
        opacity: .1 !important;
        margin-left: 4%;
    }
    
    .caja {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin: 0;
        padding: 0px 4%;
    }
    
    .caja h3 {
        display: none;
    }
    
    .caja p {
        width: 90%;
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
        text-align: left;
        color: #868686;
        letter-spacing: .7px;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        font-style: italic;
    }
    
    .caja p span {
        font-weight: 800;
        color:  #acacac;
    }










@media (min-width: 768px) {
.container {
    background-color: violet;
    padding: 100px 7%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.image {display: none;}

.imag {
    width: 50%;
    background-image: url('../../../public/galgo.png');
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.caja {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 30px;
}

.caja h3 {
    text-align: left;
    font-size: 2.5vw;
    font-weight: 700;
    color: #333;
}

.caja p {
    width: 100%;
    font-size: 1.6vw;
    font-weight: 500;
    line-height: 105%;
    text-align: left;
    color: #222;
    letter-spacing: .6px;
}

.caja p span {
    font-weight: 800;
}
}

