.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-image: none;
}

.flotante {
    display: none;
}

.flotmovil {
    display: block;
    width: auto;
    position: fixed;
    right: 8px;
    bottom: 22px;
    border-radius: 50%;
    background-color:#111;
    z-index: 2000;
    padding: 10px 12px;
    animation-fill-mode: forwards;
    border: 1px solid rgb(0, 179, 0);
}

.what {
    font-size: 36px;
    color: rgb(0, 179, 0);
}

.caja {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-image: url(../../../public/8.jpeg);
    background-size: cover;
    background-position: bottom;
}

.first {
    width: 100%;
}


.titular {
    width: 260px;
    margin: 95px auto;
    margin-bottom: 30px;
    padding: 30px 0;
    padding-bottom: 10px;
    background-image: url('../../../public/99.jpeg');
    background-size: cover;
    box-shadow: 0px 0px 30px #000;
    filter: drop-shadow(0px 0px 5px #000);
}

.titulo {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 28px;
    font-weight: 900;
    line-height: 95%;
    letter-spacing: .8px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    text-shadow: 0 0 7px rgba(255, 166, 0, 0.44), 0 0 10px rgba(255, 166, 0, 0.489), 0 0 21px rgba(255, 166, 0, 0.533), 0 0 42px rgba(255, 166, 0, 0.516), 0 0 82px rgba(255, 166, 0, 0.527), 0 0 92px rgba(255, 166, 0, 0.434), 0 0 102px rgba(255, 166, 0, 0.544), 0 0 151px rgba(255, 166, 0, 0.533);
}

.personalizados {
    font-family: "Roboto", sans-serif;
    width: auto;
    font-size: 14px;
    font-weight: 900;
    line-height: 34px;
    letter-spacing: .5px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #000;
    text-shadow: 0 0 7px rgba(255, 166, 0, 0.44), 0 0 10px rgba(255, 166, 0, 0.489), 0 0 21px rgba(255, 166, 0, 0.533), 0 0 42px rgba(255, 166, 0, 0.516), 0 0 82px rgba(255, 166, 0, 0.527), 0 0 92px rgba(255, 166, 0, 0.434), 0 0 102px rgba(255, 166, 0, 0.544), 0 0 151px rgba(255, 166, 0, 0.533);
}
   
.mov {
    display: block;
    margin: 0;
    padding: 30px 0px;
    padding-bottom: 55px;
}

.tablet {
    display: none;
}


.imagenes {
    display: none;
}

.regalo {
    background-color: #fff7f7;
    margin: 0;
    padding: 70px 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.regalo h4 {
    width: 70%;
    font-size: 22px;
    font-weight: 800;
    line-height: 94%;
    text-shadow: 0px 0px 5px #eee;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: right;
    background-image: radial-gradient(rgba(255, 211, 130, 0.673),rgba(255, 231, 186, 0.415),#ffffff00,#ffffff00);
}

.regalo img {
    position: relative;
    left: -38px;
    width: 50%;
    filter: drop-shadow(22px 0px 20px rgba(0,0,0,.7));
    animation: vibrar 3s ease-in infinite alternate;
}

@keyframes vibrar {
  0% {
    transform: rotateX(15deg) rotate(5deg); 
  }
  100% {
    transform: rotateX(-15deg) rotate(-5deg); 
  }
}











@media (min-width: 580px) and (max-width: 780px) {

  
    .flotmovil {
        right: 20px;
        padding: 10px 12px;
    }
    
    .what {
        font-size: 38px;
    }
    
    .titular {
        padding: 0px 30px;
        padding-bottom: 110px;
        background-image: url('../../../public/bgtablet.jpeg');
    }
    
    .logo {
        padding-bottom: 40px;
    }
    
    .logo h2 {
        font-size: 24px;
        letter-spacing: .7px;
        font-weight: 500;
        text-shadow: 0px 0px 7px #000;
    }
    
    .titulo {
        font-size: 42px;
        font-weight: 700;
        line-height: 98%;
        padding-top: 50px;
    }
    
    .mov {
        display: none;
    }
    
    .tablet {
        display: block;
        position: relative;
        margin: 0;
        padding: 10px;
        padding-bottom: 30px;
        background-image: url('../../../public/bg3.jpeg');
        background-size: cover;
    }
    
    .imagenes {
        display: none;
    }

    .amano {
        font-size: 20px;
        font-weight: 600;
        padding: 25px 0px;
        padding-bottom: 12px;
    }
    
    .personalizados {
        font-size: 18px;
        font-weight: 400;
        color: #a8a8a8;
    }
       
    .regalo {
        padding: 100px 4%;
    }
    
    .regalo h4 {
        width: 50%;
        font-size: 36px;
        line-height: 100%;
    }
    
    .regalo img {
        left: -20px;
        width: 40%;
    }
}














@media (min-width: 780px) and (max-width: 960px) {
   .flotante {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 20px;
    border-radius: 8px;
    background-color:#fff;
    z-index: 2000;
    padding: 8px 10px;
    padding-top: 6px;
    border: 1px solid green;
    }

    .flotante a {
        text-decoration: none;
        color: #333;
        font-size: 14px;
        font-weight: 600;
    }

    .wt {
        font-size: 22px;
        color: green;
        position: relative;
        top: 5px;   
     }
    
    .flotmovil {
        display: none;
    }
    
    .titular {
        padding: 0px 4%;
        padding-bottom: 0;
        background-image: url('../../../public/bgtablet.jpeg');
    }
    
    
    .titulo {
        font-size: 50px;
        line-height: 96%;
        padding-top: 100px;
    }
    
    .mov {
        display: none;
    }
    
    .tablet {
        display: none;
    }

    .imagenes { 
        display: block;
        margin: 0;
        padding: 40px 0;
        padding-bottom: 70px;
        background-image: url('../../../public/bgg.jpg');
        background-size: cover;
    }
    
    .amano {
        font-size: 20px;
    }
    
    .personalizados {
        width: auto;
        font-size: 18px;
        padding-bottom: 50px;
    }
    
    .regalo {
        padding: 100px 4%;
    }
    
    .regalo h4 {
        width: 40%;
        font-size: 38px;
        line-height: 97%;
        text-align: center;
        position: relative;
        left: 30px;
    }
    
    .regalo img {
        width: 36%;
        left: -30px;
    }

}
























@media (min-width: 960px) {

    .flotante {
        display: block;
        position: fixed;
        right: 10px;
        bottom: 15px;
        border-radius: 12px;
        background-color:#111;
        z-index: 2000;
        padding: 14px 16px;
        padding-top: 8px;
        border: 1px solid green;
        }
    
        .flotante a {
            text-decoration: none;
            color: #b3b3b3;
            font-size: 14px;
            line-height: 0px;
            font-weight: 550;
            letter-spacing: .8px;
        }
    
        .wt {
            font-size: 22px;
            color: green;
            position: relative; 
            top: 5px; 
         }

.flotmovil {
   display: none;
}

.caja {
    background-image: url('../../../public/bgg.jpg');
    background-size: cover;
}

.titular {
    background-image: url('../../../public/99.jpeg');
    box-shadow: 0px 0px 15px #000;
    width: 660px;
    padding: 55px 0;
    margin: 0 auto;
    margin-top: 60px;
    opacity: .8;
}

.titulo {
    padding-top: 0px;
    font-size: 60px;
    text-align: center;
    color: #000;
    text-shadow: 0 0 7px rgba(255, 166, 0, 0.44), 0 0 10px rgba(255, 166, 0, 0.489), 0 0 21px rgba(255, 166, 0, 0.533), 0 0 42px rgba(255, 166, 0, 0.516), 0 0 82px rgba(255, 166, 0, 0.527), 0 0 92px rgba(255, 166, 0, 0.434), 0 0 102px rgba(255, 166, 0, 0.544), 0 0 151px rgba(255, 166, 0, 0.533);
}

.amano {
    font-size: 26px;
    padding: 25px 0px;
    padding-bottom: 15px;
}

.personalizados {
    font-family: "Roboto", sans-serif;
    width: auto;
    font-size: 20px;
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
    color: #000;
    text-shadow: 0 0 7px rgba(255, 166, 0, 0.44), 0 0 10px rgba(255, 166, 0, 0.489), 0 0 21px rgba(255, 166, 0, 0.533), 0 0 42px rgba(255, 166, 0, 0.516), 0 0 82px rgba(255, 166, 0, 0.527), 0 0 92px rgba(255, 166, 0, 0.434), 0 0 102px rgba(255, 166, 0, 0.544), 0 0 151px rgba(255, 166, 0, 0.533);

}
   
.mov {
    display: none;
}

.tablet {
    display: none;
}

.imagenes { 
    display: block;
    margin: 0;
    padding: 0;
}

.regalo {
    background-color: #f5f5f5;
    margin: 0;
    padding: 140px 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.regalo h4 {
    width: 15%;
    font-size: 28px;
    font-weight: 1200;
    line-height: 110%;
    text-shadow: 0px 0px 5px #eee;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
    background-image: radial-gradient(rgba(255, 211, 130, 0.822),rgba(255, 231, 186, 0.663),transparent,transparent);
}

.regalo img {
    width: 200px;
    position: relative;
}

}