.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-image: none;
}

.flotante {
    display: none;
}

.flotmovil {
    display: block;
    width: auto;
    position: fixed;
    right: 8px;
    bottom: 22px;
    border-radius: 50%;
    background-color: #ffffffc5;
    z-index: 2000;
    padding: 10px 12px;
    animation-fill-mode: forwards;
    border: 1px solid rgb(0, 179, 0);
}

.what {
    font-size: 36px;
    color: rgb(0, 179, 0);
}

.video {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caja {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.titular {
    width: 100vh !important;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgba(0,0,0,.5);
}

.titulo {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 36px;
    font-weight: 800;
    line-height: 108%;
    letter-spacing: 1.2px;
    margin: 0;
    margin-top: 12git0px;
    padding: 0;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 8px #000;
    filter: drop-shadow(0px 0px 5px #000);
}

.personalizados {
    font-family: "Roboto", sans-serif;
    width: auto;
    font-size: 20px;
    font-weight: 900;
    line-height: 103%;
    letter-spacing: .6px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: orange;
    text-shadow: 3px 3px 8px #000;
    filter: drop-shadow(0px 0px 5px #000);
    position: absolute;
    bottom: 120px;
    animation: mooving 6s linear infinite;
}

@keyframes mooving {
    0% {
      transform: rotateX(15deg) rotate(5deg) scale(0.8); 

    }
    25% {
      transform: rotateX(-15deg) rotate(-5deg) scale(1.1); 
    }
    75% {  
      transform: rotateX(15deg) rotate(5deg) scale(1.1); 
    }
    100% {
     transform: rotateX(15deg) rotate(5deg) scale(0.8);
    }
  }

.personaliza {
    display: none;
}
   
.mov {
    display: none;
    margin: 0;
    padding: 80px 0px;
    padding-bottom: 60px;
}

.tablet {
    display: none;
}


.imagenes {
    display: none;
}

.regalo {
    background-color: #fff7f7;
    margin: 0;
    padding: 120px 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.regalo h4 {
    width: 40%;
    font-size: 20px;
    font-weight: 900;
    line-height: 110%;
    text-shadow: 0px 0px 5px #eee;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: right;
    background-image: radial-gradient(rgba(255, 211, 130, 0.856),rgba(255, 231, 186, 0.593),#ffffff00,#ffffff00);
}

.regalo img {
    position: relative;
    left: -20px;
    width: 60%;
    filter: drop-shadow(22px 0px 20px rgba(0,0,0,.7));
    animation: vibrar 3s ease-in infinite alternate;
}

@keyframes vibrar {
  0% {
    transform: rotateX(15deg) rotate(5deg); 
  }
  100% {
    transform: rotateX(-15deg) rotate(-5deg); 
  }
}











@media (min-width: 580px) and (max-width: 780px) {

  
    .flotmovil {
        right: 20px;
        padding: 10px 12px;
    }
    
    .what {
        font-size: 38px;
    }


    .titular {
        width: 100vw !important;
        justify-content: start;
    }
    
    .titulo {
        font-size: 54px;
        font-weight: 800;
        line-height: 102%;
        color: #fff;
        padding: 0;
        margin-top: 160px;
        text-shadow: 5px 5px 10px #000;
       }
    
    .tablet {
        display: none;
        position: relative;
        margin: 0;
        padding: 10px;
        padding-bottom: 30px;
    }
    
    .imagenes {
        display: none;
    }

    .personalizados {
           display: none;
        }

    .personaliza {
            font-family: "Roboto", sans-serif;
            width: auto;
            font-size: 22px;
            font-weight: 900;
            line-height: 100%;
            letter-spacing: .5px;
            text-align: center;
            margin: 0;
            padding: 0;
            color: orange;
            position: absolute;
            bottom: 40px;
            display: block;
            text-shadow: 5px 5px 8px #000;
            filter: drop-shadow(0px 0px 5px #000);
        }
    
       
    .regalo {
        padding: 120px 4%;
    }
    
    .regalo h4 {
        width: 50%;
        font-size: 36px;
        line-height: 100%;
    }
    
    .regalo img {
        left: -20px;
        width: 40%;
    }
}














@media (min-width: 780px) and (max-width: 1200px) {
   .flotante {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 20px;
    border-radius: 8px;
    background-color:#fff;
    z-index: 2000;
    padding: 8px 10px;
    padding-top: 6px;
    border: 1px solid green;
    }

    .flotante a {
        text-decoration: none;
        color: #333;
        font-size: 14px;
        font-weight: 600;
    }

    .wt {
        font-size: 22px;
        color: green;
        position: relative;
        top: 5px;   
     }
    
    .flotmovil {
        display: none;
    }
    
.video video {
    object-position: bottom;
    object-fit: contain;
}

    .titular {
        width: 100vw !important;
        padding: 0;
        justify-content: start;
    }
    
    
    .titulo {
        font-size: 62px;
          line-height: 100%;
          margin-top: 200px;
          text-shadow: 5px 5px 10px #000;
    }
    
    .mov {
        display: none;
    }
    
    .tablet {
        display: none;
    }

    .imagenes { 
        display: none;
        margin: 0;
        padding: 40px 0;
        padding-bottom: 70px;
        background-size: cover;
        overflow: hidden;
    }
    
    .amano {
        font-size: 20px;
    }
    
    .personalizados {
        display: none;
    }

    .personaliza {
        display: block;
        font-family: "Roboto", sans-serif;
        width: auto;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        color: orange;
        text-shadow: 3px 3px 8px #000;
        filter: drop-shadow(0px 0px 5px #000);
        position: absolute;
        bottom: 20px;
    }
     
    
    .regalo {
        padding: 140px 4%;
    }
    
    .regalo h4 {
        width: 40%;
        font-size: 38px;
        line-height: 97%;
        text-align: center;
        position: relative;
        left: 30px;
    }
    
    .regalo img {
        width: 36%;
        left: -30px;
    }

}
























@media (min-width: 1200px) {

    .flotante {
        display: block;
        position: fixed;
        right: 10px;
        bottom: 15px;
        border-radius: 12px;
        background-color:#111;
        z-index: 2000;
        padding: 14px 16px;
        padding-top: 8px;
        border: 1px solid green;
        }
    
        .flotante a {
            text-decoration: none;
            color: #b3b3b3;
            font-size: 14px;
            line-height: 0px;
            font-weight: 550;
            letter-spacing: .8px;
        }
    
        .wt {
            font-size: 22px;
            color: green;
            position: relative; 
            top: 5px; 
         }

.flotmovil {
   display: none;
}

.caja {
  width: 100vw !important;
}

.titular {
    width: 100vw !important;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,.7);
    justify-content: start;
}

.titulo {
    padding-top: 0px;
    font-size: 72px;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 8px #000;
    margin-top: 150px;
    line-height: 100%;
}

.amano {
    font-size: 26px;
    padding: 25px 0px;
    padding-bottom: 15px;
}

.personalizados {
    display: none;
}

.personaliza {
    display: block;
    font-family: "Roboto", sans-serif;
    width: auto;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: orange;
    text-shadow: 3px 3px 8px #000;
    position: absolute;
    bottom: 20px;
}
   
.mov {
    display: none;
}

.tablet {
    display: none;
}

.imagenes { 
    display: none;
    margin: 0;
    padding: 0;
}

.regalo {
    background-color: #f5f5f5;
    margin: 0;
    padding: 180px 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.regalo h4 {
    width: 20%;
    font-size: 40px;
    font-weight: 1200;
    line-height: 110%;
    text-shadow: 0px 0px 5px #eee;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: right;
    background-image: radial-gradient(rgba(255, 211, 130, 0.822),rgba(255, 231, 186, 0.663),transparent,transparent);
}

.regalo img {
    width: 260px;
    position: relative;
    left: 30px;
}

}