


@media (min-width: 580px) and (max-width: 780px) {
    .container {
        display: flex;
        flex-wrap: nowrap;
        width: auto;
        padding: 50px 0;
        padding-bottom: 50px;
        background-color: transparent;
        justify-content: end;
    }
    
    .container img {
        width: 25%;
        object-fit: scale-down;
        filter: drop-shadow(0px 10px 0px #111);
        margin-right: 30px;
    }
    
}





@media (min-width: 780px) and (max-width: 960px) {
    .container {
        display: flex;
        flex-wrap: nowrap;
        width: auto;
        padding: 80px 0;
        background-color: transparent;
        justify-content: center;
        gap: 60px;
    }
    
    .container img {
        width: 26%;
        object-fit: scale-down;
        filter: drop-shadow(0px 10px 0px #111);
    }
    
}








@media (min-width: 960px) {

    .container {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0 10%;
        overflow-x: hidden;
    }
    
    .container img {
        width: 180px !important;
        object-fit: cover;
        filter: drop-shadow(0px 0px 10px #000);
    }
    
}