.container {
    width: 100%;
    background-color: #333;
    margin: 0;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cajaImg {
    margin: 0px 7%;
    display: flex;
    justify-content: space-between;
}

.image {
    width: 22%;
    filter: drop-shadow(0px 0px 20px #000);
    object-fit: cover;
    border-radius: 5px;
}

.caja {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 7%;
}

.categoria {
    padding: 0;
    font-size: 2vw;
    font-weight: 600;
    color: rgb(255, 255, 155);
    filter: drop-shadow(0px 0px 15px #000);
}



@media (max-width: 768px) {
    .container {
        width: 100%;
        background-color: #bbb;
        margin: 0;
        padding: 40px 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 0px;
        overflow-x: hidden;
    }
    
    .cajaImg {
        margin: 0px 4%;
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .image {
        width: 47%;
        filter: drop-shadow(0px 0px 20px #000);
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 25px;
    }
    
    .caja {
        width: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        padding: 0;
        margin: 0 4%;
        position: relative;
        animation: desplazamiento 20s ease-out infinite;
    }
    
    @keyframes desplazamiento {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-200%);
      }
    }

    .categoria {
        width: auto;
        text-align: center;
        padding: 0;
        margin-right: 25px;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 600;
        color: orange;
        filter: drop-shadow(0px 0px 15px #222);
        text-shadow: 0px 0px 3px #000;
        flex-shrink: 0;
    }
    
    

}