.container {
    width: 100%;
    background-color: #333;
    margin: 0;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cajaImg {
    margin: 0px 7%;
    display: flex;
    justify-content: space-between;
}

.image {
    width: 22%;
    filter: drop-shadow(0px 0px 20px #000);
    object-fit: cover;
    border-radius: 5px;
}

.caja {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 7%;
}

.categoria {
    padding: 0;
    font-size: 2vw;
    font-weight: 600;
    color: rgb(255, 255, 155);
    filter: drop-shadow(0px 0px 15px #000);
}



@media (max-width: 768px) {
    .container {
        width: 100%;
        background-color: #fff;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0px;
        overflow-x: hidden;
    }
    
    .cajaImg {
        margin: 0px 4%;
        padding: 50px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .image {
        width: 48%;
        filter: drop-shadow(0px 0px 20px #000);
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 25px;
    }
    
    .caja {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 4%;
        padding-top: 70px;
        margin: 0;
    }

    .categoria {
        width: auto;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        padding: 6px 12px;
        margin-right: 10px;
        margin-bottom: 8px;
        color: #eeeeee;
        filter: none;
        text-shadow: none;
        flex-shrink: 0;
        background-color: #222;
        border-radius: 4px;
    }
    
    

}