.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0;
    padding: 100px 0;
    background-image: url('../../../public/madera.jpg'); 
    background-size: cover;
}

.container h6 {
    font-family: "Roboto", sans-serif;
    color: #d7d7d7;
    filter: drop-shadow(0px 0px 5px #000);
    text-shadow: 3px 3px 5px #000000d6, -3px -3px 5px #000000b6;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .7px;
    line-height: 130%;
    margin: 0;
    margin-bottom: 60px;
}

.container img {
    width: 200px;
    filter: drop-shadow(0px 0px 10px #000);
    object-fit: scale-down;
    padding: 0;
    padding-bottom: 15px;
    position: relative;
    transform: rotateX(41deg);
}

.alfpc {
    display: none;
}









@media (min-width: 580px) and (max-width: 780px) {
   
    .container {
        padding: 140px 0px;
        background-size: cover;
    }

    .container h6 {
        font-size: 28px;
    }
    
    .container img {
        width: 40%;
        object-fit: scale-down;
        filter: drop-shadow(0px 10px 0px #111);
        padding: 25px 0px;
    }

    .alfpc {
        display: none;
    }
    
}











@media (min-width: 960px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 0;
        padding: 140px 0px;
        padding-bottom: 70px;
        background-image: url('../../../public/bgg.jpg'); 
        background-size: cover;
        background-position: bottom;
    }

    .container h6 {
        width: 100%;
        font-family: "Roboto", sans-serif;
        filter: drop-shadow(0px 0px 10px #000);
        text-shadow: 0px 0px 5px #000;
        color: #ffffffd0;
        font-size: 42px;
        line-height: 112%;
        letter-spacing: 1px;
        margin: 0 auto;
        margin-bottom: 120px;
        font-style: italic;
    }

    .image {
        display: none;
    }

    .alfpc {
        display: flex;
    }
}
