.container {
    padding: 100px 0px;
    padding-bottom: 45px;
    margin: 0;
    background-image: radial-gradient(rgb(255, 214, 138),#fff,#fff);
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt {
    width: 100%;
    margin: 0;
    padding: 0px 0;
}

.container p {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: -1px;
    color: #333;
    filter: drop-shadow(0px 0px 10px transparent);
    text-shadow: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.alf {
    font-size: 22px;
    position: relative;
    top: 5px;
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
0% {
color: orange;
}
30% {
color: orangered;
}
70% {
color: red;
}
}

.caja {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4%;
    margin: 0;
    margin-top: 50px;
}

.categoria {
    width: 30%;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 5px 0px;
    margin-right: 8px;
    margin-bottom: 8px;
    color: #333;
    filter: none;
    text-shadow: none;
    flex-shrink: 0;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #333;
}









@media (min-width: 620px) and (max-width: 1024px) {
    
    .container {
        padding: 120px 0px;
        background-image: radial-gradient(rgb(255, 205, 113),#fff,#fff);
    }
    
    .txt {
        width: auto;
        padding: 0px 4%;
    }
    
    .container p {
        width: auto;
        font-size: 34px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: -.5px;
    }
    
    .alf {
        font-size: 32px;
        top: 10px;
    }
    
    .caja {
        padding: 0 4%;
        margin: 0;
        margin-top: 80px;
    }
    
    .categoria {
        width: 30%;
        font-size: 16px;
        font-weight: 700;
        color: #222;
        background-color: #ffd17b;
        border: 1px solid #222;
    }
}