.container {
    padding: 70px 0px;
    padding-bottom: 110px;
    margin: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff7f7;
}

.txt {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container p {
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: .4px;
    color: #111;
    filter: drop-shadow(0px 0px 10px transparent);
    text-shadow: none;
    font-style: italic;
}

.alf {
    font-size: 30px;
    position: relative;
    top: 1px;
    font-weight: 600;
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
0% {
color: orange;
}
100% {
color: red;
}
}

.caja {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 7%;
    margin: 0;
    margin-top: 50px;
}

.categoria {
    font-family: "Roboto", sans-serif;
    width: 30%;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 5px 0px;
    margin-right: 8px;
    margin-bottom: 8px;
    color: #333;
    filter: drop-shadow(0px 0px 3px rgba(255, 166, 0, 0.4));
    flex-shrink: 0;
    background-image: linear-gradient(to right, transparent, rgba(255, 166, 0, 0.453), transparent);
}









@media (min-width: 580px) and (max-width: 960px) {
    
    .container {
        padding: 120px 0px;
        background-image: radial-gradient(rgb(255, 205, 113),#fff,#fff);
    }
    
    .txt {
        width: auto;
        padding: 0px 4%;
    }
    
    .container p {
        width: auto;
        font-size: 34px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: -.5px;
    }
    
    .alf {
        font-size: 32px;
        top: 10px;
    }
    
    .caja {
        padding: 0 4%;
        margin: 0;
        margin-top: 80px;
    }
    
    .categoria {
        width: 30%;
        font-size: 16px;
        font-weight: 700;
        color: #222;
        background-color: #ffd17b;
        border: 1px solid #222;
    }
}














@media (min-width: 960px) {
    
    .container {
        padding: 150px 4%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 80px;
        background-image: none;
        background-color:#fff;
    }
    
    .txt {
        background-image: radial-gradient(rgb(255, 205, 113),#fff,#fff);
        width: auto;
        padding: 0;
    }
    
    .container p {
        width: auto;
        font-size: 42px;
        font-weight: 700;
        line-height: 46px;
        letter-spacing: -.5px;
    }
    
    .alf {
        font-size: 42px;
        top: 10px;
    }
    
    .caja {
        padding: 0;
        margin: 0;
        margin-top: 0px;
    }
    
    .categoria {
        width: 30%;
        font-size: 16px;
        font-weight: 700;
        color: #222;
        background-color: #ffd17b;
        border: 1px solid #222;
    }
}














