.container {
    background-color: #111;
    padding: 70px 7%;
}

.container h3 {
    font-size: 2.8vw;
    font-weight: 600;
    color: #fff;
    margin: 0;
}

.container p {
    font-size: 1.6vw;
    font-weight: 400;
    color: #fff;
    margin: 0;
    filter: drop-shadow(0px 0px 3px #000);
}

.redes {
    margin-top: 30px;
}

.redes ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .redes ul li {
    list-style: none;
  }
  
  .redes ul li a {
    text-decoration: none;
    color: rgba(255, 255, 115, 0.847);
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: .5px;
}

.redes ul li a:hover {
      color: violet;
  }







@media (max-width: 768px) {
    .container {
        padding: 50px 4%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .container h3 {
        font-size: 26px;
        font-weight: 700;
        color: #111;
        filter: none;
        margin: 0;
    }
    
    .container p {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        color: #222;
        margin: 0;
        margin-top: 15px;
        filter: none;
    }
    
    .redes {
        width: auto;
        display: flex;
        justify-content: center;
        gap: 0px;
    }
      
      .redes button {
        width: auto;
        text-align: center;
        background-color: #fffffff1;
        margin: 0;
        margin-bottom: 7px;
        padding: 5px 10px;
        padding-bottom: 10px;
        border-radius: 6px;
        border: none;

    }
    
    .redes button a {
        text-decoration: none;
        color: #222;
        font-size: 14px;
        font-weight: 500;
        padding: 6px 8px;
        background-color: #dfdfdf;
        border: .5px solid #222;
        border-radius: 4px;
        box-shadow: 0px 0px 15px rgba(0,0,0,.2);
    }

    .icon {
        font-size: 20px;
        position: relative;
        top: 5px;
        padding: 0;
        margin: 0;
        margin-right: 4px;
        color: orange;
    }
    
    
    
    }    