.container {
    padding: 70px 4%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h3 {
    font-size: 26px;
    font-weight: 700;
    color: #111;
    filter: none;
    margin: 0;
}

.container p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .7px;
    line-height: 28px;
    color: #222;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    filter: none;
    text-align: center;
}

.redes {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 0px;
}
  
  .redes button {
    width: auto;
    text-align: center;
    background-color: #fffffff1;
    margin: 0;
    padding: 5px 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    border: none;

}

.redes button a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 8px;
    background-color: #dfdfdf;
    border: .5px solid #222;
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.2);
}

.icon {
    font-size: 20px;
    position: relative;
    top: 5px;
    padding: 0;
    margin: 0;
    margin-right: 4px;
    color: #111;
}










@media (min-width: 580px) and (max-width: 780px) {
  
    .container {
        padding: 120px 4%;
    }
    
    .container h3 {
        font-size: 32px;
        color: #222;
    }
    
    .container p {
        max-width: 70%;
        font-size: 24px;
        line-height: 30px;
        color: #333;
        margin-top: 20px;
    }
    
    .redes {
        margin-top: 50px;
    }
    
    .redes button a {
        color: #333;
        font-size: 18px;
        font-weight: 600;
        padding: 7px 10px;
        border: .5px solid #333;
    }
    
    .icon {
        font-size: 22px;
        margin-right: 5px;
        color: #222;
    }
    
}    









@media (min-width: 780px) and (max-width: 960px) {
    .container {
        padding: 150px 4%;
    }
    
    .container h3 {
        font-size: 36px;
    }
    
    .container p {
        max-width: 70%;
        font-size: 26px;
    }
    
    .redes {
        margin-top: 50px;
    }
    
    .redes button a {
        color: #333;
        font-size: 18px;
        font-weight: 600;
        padding: 7px 10px;
        border: .5px solid #333;
    }
    
    .icon {
        font-size: 22px;
        margin-right: 5px;
        color: #222;
    }
}














@media (min-width: 960px) {
    .container {
        padding: 150px 4%;
    }
    
    .container h3 {
        font-size: 38px;
    }
    
    .container p {
        max-width: 50%;
        font-size: 28px;
    }
    
    .redes {
        margin-top: 60px;
    }
    
    .redes button a {
        color: #333;
        font-size: 18px;
        font-weight: 600;
        padding: 7px 10px;
        border: .5px solid #333;
    }


    .redes button a:hover {
        color: #333;
        font-size: 18px;
        font-weight: 600;
        padding: 7px 10px;
        border: .5px solid #333;
        background-color: rgb(255, 200, 98);
    }
    
    .icon {
        font-size: 22px;
        margin-right: 5px;
        color: #222;
    }
}