.container {
    background-color: #111;
    padding: 20px 0px;
    border-top: .3px solid rgba(256,256,256,.1);
}

.copy {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: rgba(256,256,256,.7);
}

.dev {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    color: rgba(256,256,256,.7);
}

.dev a {
    text-decoration: underline;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .3px;
    opacity: .7;
}

.modo {
    color: #02BCDE;
}

.digi {
    color: #64e015;
}