.container {
    display: none;
    }

    @media (max-width: 768px) {
      .container {
        position: absolute;
        width: 100vw;
        height: 100vh !important;
        display: flex;
        justify-content: start;
        align-items: center;
        animation: display 1.6s 1.8s linear;
        animation-fill-mode: forwards;
        background-color: #222;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        z-index: 2000;
      }

      .container::-webkit-scrollbar {
        display: none;
      }
      
      .container img {
        object-fit: cover;
        width: 100%;
        }
        
        
        @keyframes display {
          0% {
            left: 0;
          }
          96% {
            opacity: 1;
          }
          100% {
            left: -800px;
          }
        }  
      
    }
  