.container {
    padding: 70px 4%;
    margin: 0;
    background-color: #fff;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}


.pais {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    filter: none;
}

.truk {
    font-size: 30px;
    margin-right: 8px;
    position: relative;
    top: 6px;
    color: #333;
}

.retiro {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    color: #868686;
    filter: none;
}

.ubi {
    color: #868686;
    font-size: 12px;
    margin-right: 8px;
}












@media (min-width: 580px) and (max-width: 780px) {
    .container {
        background-color: #333;
        padding: 60px 4%;
    }
    
    
    .pais {
        font-size: 24px;
    }
    
    .truk {
        font-size: 26px;
        margin-right: 10px;
        color: #a2a2a2;
    }
    
    .retiro {
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
        color: #c4c4c4;
    }
    
    .ubi {
        color: #dedede;
        font-size: 20px;
        margin-right: 10px;
    }
    
}













@media (min-width: 780px) and (max-width: 960px) {
    .container {
        background-color: #222;
        padding: 90px 4%;
    }
    
    
    .pais {
        font-size: 28px;
    }
    
    .truk {
        font-size: 32px;
        margin-right: 12px;
    }
    
    .retiro {
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
    }
    
    .ubi {
        font-size: 24px;
    }
    
}












@media (min-width: 960px) {

    .container {
        background-color: #222;
        padding: 120px 4%;
    }
    
    .pais {
        font-size: 32px;
    }
    
    .truk {
        font-size: 32px;
        margin-right: 12px;
    }
    
    .retiro {
        font-size: 26px;
        font-weight: 500;
        margin-top: 10px;
    }
    
    .ubi {
        font-size: 24px;
    }
    
}