.container {
    background-image: none;
    background-color: #333;
    padding: 30px 4%;
    margin: 0;
}


.pais {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #868686;
    filter: none;
}

.truk {
    font-size: 22px;
    margin-right: 8px;
    position: relative;
    top: 2px;
    color: #868686;
}

.retiro {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    color: #868686;
    filter: none;
}

.ubi {
    color: #868686;
    font-size: 12px;
    margin-right: 8px;
}










@media (min-width: 768px) {
.container {
    background-image: linear-gradient(to bottom, #333, #111);
    padding: 120px 7%;
    margin: 0;
}

.retiro {
    margin: 0;
    font-size: 2.1vw;
    font-weight: 400;
    margin-top: 10PX;
    color: violet;
    filter: drop-shadow(0px 0px 5px #5555554d);
}

.ubi {
    font-size: 1.8vw;
    margin-right: 8px;
}

.pais {
    margin: 0;
    font-size: 2.6vw;
    font-weight: 700;
    color: violet;
    filter: drop-shadow(0px 0px 5px #5555554d);
}

.truk {
    font-size: 2.8vw;
    margin-right: 8px;
    position: relative;
    top: 3px;
}
    
}